<div class="container">
  <div class="title">
    Bowling!
  </div>
  <div class="scoreboard">
    <ng-container>
      <app-scoreboard></app-scoreboard>
    </ng-container>
  </div>
  <div class="actions">
    <ng-container *ngIf="activeGame$ | async;else newGameNeeded">
      <button (click)="addRoll()">Roll</button>
    </ng-container>
    <ng-template #newGameNeeded>
      <button (click)="startNewGame()">Start new game</button>
    </ng-template>
  </div>
  <div class="recent-games">
    <app-recent-games></app-recent-games>
  </div>
</div>
