<div *ngIf="currentGame" class="container">
  <div *ngFor="let frame of currentGame.frames; let i = index" class="frame">
    <div>Frame {{i + 1}}</div>
    <div>
    |
    {{frame.firstSlot}}
    {{frame.secondSlot}}
    {{frame.thirdSlot}} |
    </div>
  </div>
</div>
