<div class="container">
  <h2>Recent Games</h2>
  <ng-container *ngIf="recentGames.length > 0;else noRecentGames">
    <div *ngFor="let game of recentGames" class="recent-game">
      {{game.timeStarted | date}}
    </div>
  </ng-container>
  <ng-template #noRecentGames>
    No recent games
  </ng-template>
</div>